ul li {
  padding-left: 15px;
}

.view, table {
  overflow: auto;
  max-height: 350px !important;
}

.content-fluid {
  padding-bottom: 7em !important;
}

.row {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .Presentation-logo {
    animation: Presentation-logo-spin infinite 20s linear;
  }
}

@keyframes Presentation-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
